body {
  background: #2f74c0;
}

.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.input_box {
  padding: 20px 30px;
  width: 100%;
  font-size: 25px;
  border-radius: 50px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input_box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  right: 0px;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  background: #2f74c0;
  color: #fff;
  border: none;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input_submit:hover {
  background-color: #388ae2;
}

.input_submit:active {
  transform: scale(0.8);
  box-sizing: 0 0 5px black;
}

.container {
  display: flex;
  width: 95%;
  margin-top: 15px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(50, 195, 205);
}

.todos__heading {
  color: #fff;
  text-align: left;
  font-size: 24px;
  margin-left: 15px;
  margin-top: 15px;
}

.todos-remove {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  width: 47%;
  background: rgb(235, 103, 80);
}

.todos__single {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: transform 0.15s;
}

.todos__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}
.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }

  .todos-remove {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }
  .todos-remove {
    width: 95%;
  }

  /* .todos__single {
      width: 100%;
    } */
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .todos {
    width: 90%;
  }
  .todos__heading {
    text-align: center;
  }
  .todos-remove {
    width: 90%;
  }
  .todos__single {
    border: 3px solid red;
    width: 80%;
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 16px;
  }
  .todos__single--text {
    font-size: 16px;
    width: 0;
  }
}

.remove {
  background-color: rgb(235, 103, 80);
}

.dragactive {
  background-color: rgb(0, 211, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.drag {
  box-shadow: 0 0 20px black;
}
